@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

html {
    @media (max-width: 768px) {
        font-size: 12px !important;
    }
    @media (max-width: 769px) {
        font-size: 16px !important;
    }
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(45deg, rgba(15, 12, 41, 1) 25%, rgba(48, 43, 99, 1) 100%);
}
